.example-form-field {
  // width: 200px;
  // height: 50px;
  margin-top: 20px;
  margin-right: 10px;
  width: 50%;
  // background-color: #94d3a2;
}

.container-search {
  width: 100%;
  // background-color: #2ea44f;
  display: flex;
  justify-content: center;
  align-items: center;
}



.container {
  margin: auto;
  margin-top: 30px;
  width: 80%;
  // background-color: aqua;
}

.title {
  font-size: 20px;
  font-weight: 900;
}



// table
.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container-main {
  min-height: 900px;
  width: 100%;
  // background-color: #298e46;

}



.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

td img {
  width: 50px;
}



.button-3 {
  margin: 20px 10px;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.red {
  background-color: #D64550;
}

.button-container {
  // padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}








//=============
.available {
  max-width: 100px;
  background-color: #2c974b;
  font-weight: 900;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.un-available {
  background-color: #D64550;
  font-weight: 900;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}









.container-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 200px;
  min-height: 100px;

}

.pagination-btn {

  max-height: 50px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 10px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.pagination-btn:hover,
.pagination-btn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.pagination-btn:hover {
  transform: translateY(-1px);
}

.pagination-btn.active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.outer-cat-author-container {
  display: flex;
  background-color: #298e46;
}

.blue {
  background-color: #054A91;
}


.button {
  margin: auto;
}



.image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}


.image img {
  width: 100%;
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  // background-color: #009879;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container p {
  font-size: 20px;
  font-weight: 600;
}

.child {
  margin-right: 50px;
  margin-left: 10px;
}
.center{
  margin: auto;
  padding: 10px;
}
.container-auto-fill{
  width: 100%;
  // background-color: #009879;
  display: flex;
  justify-content: center;
  align-items: center;
}