<div class="container">
  <div *ngIf="mostCommentRateView != null" class="slideshow-container">
    <div
      *ngFor="let slide of mostCommentRateView; let i = index"
      class="mySlides"
      [style.transform]="'translateX(' + currentIndex * transtlate + 'px)'"
    >
      <div class="container-main">
        <div class="averate-Rate" *ngIf="averateRate != 0 && i == 0">
          <p>900</p>
        </div>
        <img
          [src]="getSafeImageUrl(slide.imageData)"
          alt=""
          [routerLink]="['/detail', slide.id]"
        />
        <div class="container-book-info">
          <p class="book-name">{{ slide.tensach }}</p>
          <p class="author-name">
            tác giả : {{ slide.tacgia.tentacgia || "không có" }}
          </p>
        </div>
      </div>
    </div>

    <a class="prev" (click)="prevSlide()">&#10094;</a>
    <a class="next" (click)="nextSlide()">&#10095;</a>
  </div>
  <!-- <a class="prev" (click)="prevSlsde()">&#10094;</a>
  <a class="next" (click)="nextSlide()">&#10095;</a> -->
</div>
