USE [master]
GO
/****** Object:  Database [bookDB]    Script Date: 10/8/2023 11:32:06 AM ******/
CREATE DATABASE [bookDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bookDB', FILENAME = N'E:\apps\sql\sql-app\MSSQL16.SQLEXPRESS\MSSQL\DATA\bookDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bookDB_log', FILENAME = N'E:\apps\sql\sql-app\MSSQL16.SQLEXPRESS\MSSQL\DATA\bookDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bookDB]
GO
/****** Object:  Table [dbo].[bookCard]    Script Date: 10/8/2023 11:32:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookCard](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bookId] [int] NULL,
	[bookName] [varchar](255) NULL,
	[authName] [varchar](255) NULL,
	[category] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
