.container-item{
    width: 100%;
    height: 100%;
    background-color: aqua;
    
}

.cotainer-main{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 800px;
    background-color: green;
    margin: auto;
    margin-top: 30px;
}

