<!-- <app-top-navbar ></app-top-navbar> -->

<div *ngIf="!(bookInfo != null)" class="spinner-home">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="bookInfo != null && category != null" class="container-item">
  <!-- <div class="colorfill-1"></div>
    <div class="colorfill-2"></div> -->
    <!-- start of detail -->
  <div class="container-main">
    <img [src]="imgurl" alt="" />
    <div class="container-book-info">
      <p class="book-name">{{ bookInfo.tensach }}</p>
      <p class="author-name">tác giả : {{ bookInfo.tensach }}</p>
      <div class="catergory-container">
        <p class="catergory-1">thể loại:</p>
        <p class="catergory">{{ category.tenchude }}</p>
      </div>
      <div class="available-container">
        <p class="available-1">tình trạng sách:</p>
        <p *ngIf="bookInfo.duocMuon == 1" class="available">có thể mượn</p>
        <p *ngIf="bookInfo.duocMuon == 0" class="un-available">hết sách</p>
      </div>
      <button class="borow-btn">Mượn ngay</button>
      <button class="follow-btn" *ngIf="!isFollow" (click)="handleFollowClick()">theo dõi</button>
      <button class="un-follow-btn" *ngIf="isFollow" (click)="handleFollowClick()">bỏ theo dõi</button>
    </div>
  </div>
    <!-- end of detail -->
  <div class="container-main detail">
    <p class="comment-title">Chi tiết</p>
    <div class="containter-detail-text">
      <p class="bold-and-large">Chiều dài:</p>
      <p>{{ bookInfo.chieudai }} cm</p>
    </div>
    <div class="containter-detail-text">
      <p class="bold-and-large">Chiều rộng:</p>
      <p>{{ bookInfo.chieurong }} cm</p>
    </div>
    <div class="containter-detail-text">
      <p class="bold-and-large">Số trang:</p>
      <p>{{ bookInfo.sotrang }}</p>
    </div>
    <div class="containter-detail-text">
      <p class="bold-and-large">Nhà xuất bản:</p>
      <p>{{ producerInfo?.tennhaxuatban }}</p>
    </div>
  </div>

  <div class="container-main comment">
    <p class="comment-title">Đánh giá</p>
    <div class="comment-form">
      <form  (ngSubmit)="handleAddComment()">
        <p class="add-comment-p">thêm đánh giá của bạn ở đây</p>
        <textarea class="comment-add-box" [(ngModel)]="commentText"[ngModelOptions]="{ standalone: true }"></textarea>
        <button  type="submit">add comment</button>
      </form>
     
      <!-- <mat-icon class="star-icon">star</mat-icon> -->
      <!-- addd comment section -->
      <!-- <mat-icon class="star-icon">star_border</mat-icon> -->
      <div class="containter-star">
        <div *ngFor="let i of itemsToRepeat; let index = index">
          <mat-icon
            *ngIf="index + 1 <= rating"
            (click)="handleUdateRating(index)"
            >star</mat-icon
          >
          <mat-icon
            *ngIf="index + 1 > rating"
            (click)="handleUdateRating(index)"
            >star_border</mat-icon
          >
        </div>
      </div>
    </div>
    <div class="" *ngIf="comment.length == 0"><p>No comment yet!!!</p></div>

    <div class="container-all-comment" *ngIf="comment.length > 0">
      <p>Đánh giá chung</p>
      <div class="containter-star" >
        <div *ngFor="let i of itemsToRepeat; let index = index">
          <mat-icon
            *ngIf="
              index + 1 <= averateRate && index + 1 <= RoundFunc(averateRate)
            "
            >star</mat-icon
          >
          <mat-icon
            *ngIf="
              index + 1 > averateRate && index + 1 == RoundFunc(averateRate)
            "
            >star_half</mat-icon
          >
          <mat-icon
            *ngIf="index + 1 > averateRate && index >= RoundFunc(averateRate)"
            >star_border</mat-icon
          >
        </div>
      </div>

      <div class="container-single-comment" *ngFor="let item of comment">
        <div class="container-user-comment">
          <img [src]="imguserurl" alt="" />
          <p>@User111</p>
        </div>
        <div class="containter-star">
          <div *ngFor="let i of itemsToRepeat; let index = index">
            <mat-icon *ngIf="index + 1 <= item.rating">star</mat-icon>
            <mat-icon *ngIf="index + 1 > item.rating">star_border</mat-icon>
          </div>
          <p>{{ item.rating }}</p>
        </div>
        <p class="comment-content">{{ item.tieude }}</p>
      </div>
    </div>
  </div>
</div>
