<p class="title">Tất cả phiếu mượn</p>
<div class="container-search">
  <mat-form-field class="example-form-field" (keyup.enter)="onSubmit()">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="value" />

    <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-button [matMenuTriggerFor]="menu">
    {{
      isDone == 0
        ? "Đang xử lý"
        : isDone == 1
        ? "Trễ"
        : isDone == 2
        ? "Đúng hạn"
        : "Tình trạng"
    }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="handleChangeIsDone(3)">Không</button>
    <button mat-menu-item (click)="handleChangeIsDone(0)">Đang xử lý</button>
    <button mat-menu-item (click)="handleChangeIsDone(1)">Trễ</button>
    <button mat-menu-item (click)="handleChangeIsDone(2)">Đúng hạn</button>
  </mat-menu>

  <!-- <div class="form-container"> -->
  <form action="" class="form" [formGroup]="dateForm">
    <p>Ngày mượn</p>
    <mat-form-field class="child">
      <input
        matInput
        [matDatepicker]="picker1"
        placeholder="Ngày mượn"
        formControlName="startDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <p>Ngày trả</p>
    <mat-form-field class="child">
      <input
        matInput
        [matDatepicker]="picker2"
        placeholder="Ngày trả"
        formControlName="endDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </form>
  <!-- </div> -->
  <!-- HTML !-->
  <button class="button-3" role="button" (click)="onSubmit()">Search</button>
</div>

<div class="main-container" *ngIf="listCheckout.length > 0">
  <table class="styled-table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã Phiếu</th>
        <th>Mã người Dùng</th>
        <th>Người Dùng</th>
        <th>Ngày Mượn</th>
        <th>Ngày Trả</th>
        <th>Tình Trạng</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listCheckout; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ convertToPaddedString(item.id) }}</td>
        <td>{{ convertToPaddedString(item.userid) }}</td>
        <td>
          <div
            class="img-holder"
            [routerLink]="['/admin/profile', item.userid]"
          >
            <img [src]="getSafeImageUrl(item.user?.imageData)" alt="" />
            <p>{{ item.user.firstName }}</p>
          </div>
        </td>
        <td>{{ convertDateFormat(item.ngaymuon) }}</td>
        <td>{{ convertDateFormat(item.ngaytra) }}</td>

        <td>
          {{
            item.isDone == 0
              ? "Đang xử lý"
              : item.isDone == 1
              ? "Trễ"
              : item.isDone == 2
              ? "Đúng hạn"
              : "Chưa có"
          }}
        </td>
        <td>
          <button
            class="button-3"
            [routerLink]="['/admin/requestdetail', item.id]"
          >
            Edit
          </button>
          <button class="button-3 red" (click)="handleDelete(item.id)">
            Xóa
          </button>
          <button class="button-3">Hoàn Thành</button>
        </td>
      </tr>

      <!-- and so on... -->
    </tbody>
  </table>
</div>
<div class="container-pagination">
  <div class="container-main-pagination">
    <button class="pagination-btn" (click)="handleNextBefore('-')">
      before
    </button>
    <button class="pagination-btn">{{ pageIndex }}</button>
    <button class="pagination-btn" (click)="handleNextBefore('+')">next</button>
  </div>
</div>

<div class="space"></div>
