<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->

  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <!-- <img
            class="img-account-profile rounded-circle mb-2"
            src="http://bootdey.com/img/Content/avatar/avatar1.png"
            alt=""
          /> -->
          <div class="img-account-profile-2 mb-2">
            <img [src]="imageData" alt="" />
          </div>
          <!-- Profile picture help block-->
          <div class="small font-italic text-muted mb-4">
            JPG or PNG no larger than 5 MB
          </div>
          <input type="file" (change)="onFileSelected($event)" />
          <!-- Profile picture upload button-->
          <button class="btn btn-primary" (click)="onSubmit()" type="button">
            Upload new image
          </button>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form [formGroup]="userForm">
            <!-- Form Group (username)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputUsername"
                >Username (how your name will appear to other users on the
                site)</label
              >
              <input
                class="form-control"
                id="inputUsername"
                type="text"
                placeholder="Enter your username"
                formControlName="username"
              />
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName"
                  >First name</label
                >
                <input
                  class="form-control"
                  id="inputFirstName"
                  type="text"
                  placeholder="Enter your first name"
                  formControlName="FirstName"
                />
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Last name</label>
                <input
                  class="form-control"
                  id="inputLastName"
                  type="text"
                  placeholder="Enter your last name"
                  formControlName="LastName"
                />
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->

              <!-- Form Group (location)-->
            </div>
            <!-- Form Group (email address)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress"
                >Email address</label
              >
              <input
                class="form-control"
                id="inputEmailAddress"
                type="email"
                placeholder="Enter your email address"
                formControlName="email"
              />
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputPhone">Phone number</label>
                <input
                  class="form-control"
                  id="inputPhone"
                  type="tel"
                  placeholder="Enter your phone number"
                  formControlName="phone_number"
                />
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputBirthday">Birthday</label>
                <input
                  class="form-control"
                  type="datetime"
                  name="birthday"
                  placeholder="Enter your birthday"
                  value="06/10/1988"
                />
              </div>
            </div>
            <!-- start of password -->
            <div class="row gx-3 mb-3" *ngIf="isChangePassword">
              <!-- Form Group (phone number)-->
              <div class="col-md-4">
                <label class="small mb-1" for="inputPhone">old password</label>
                <input
                  class="form-control"
                  type="password"
                  placeholder="Enter your old password"
                  formControlName="oldPassword"
                />
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-3">
                <label class="small mb-1" for="inputBirthday"
                  >new password</label
                >
                <input
                  class="form-control"
                  type="password"
                  placeholder="Enter your new password"
                  formControlName="newPassword"
                />
              </div>
              <div class="col-md-3">
                <label class="small mb-1" for="inputBirthday"
                  >confirm new password</label
                >
                <input
                  class="form-control"
                  type="password"
                  placeholder="Confirm your password"
                  formControlName="confirmPassword"
                />
              </div>
              <div class="col-md-1">
                <button
                  class="button-3"
                  role="button"
                  (click)="handleClosePasswordChange()"
                >
                  Close
                </button>
              </div>
            </div>

            <!-- Save changes button-->
            <button
              *ngIf="!isChangePassword"
              (click)="handleOpenPasswordChange()"
              class="button-1"
              type="button"
            >
              changes password
            </button>
            <button
              class="btn btn-primary"
              type="button"
              (click)="handleSaveChange()"
            >
              Save changes
            </button>
            <button
              class="btn btn-danger logout"
              type="button"
              (click)="Logout()"
            >
              logout
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
