<body>
  <div *ngIf="role == 'register'">
    <div class="wrapper">
      <div class="content">
        <div class="left">
          <img
            class="circle"
            src="../../../assets/img/book.png"
            width="200"
            height="200"
          />
          <h2 style="color: rgba(206, 56, 56, 0.84)">Thư viện Đại học</h2>
          <h2 style="color: rgba(206, 56, 56, 0.84)">
            Sư phạm Thành phố Hồ Chí Minh
          </h2>
          <p>Địa chỉ</p>
          <p>Cơ sở chính: 280 An Dương Vương phường 4 quận 5 tpHCM</p>
          <p>Cơ sở 2: 222 Lê Văn Sỹ phường 14 quận 3 tpHCM</p>
          <p>Cơ sở 3: 351 Lạc Long Quân quận 11 tpHCM</p>
        </div>

        <div class="right">
          <div class="form">
            <h2>Register</h2>
            <form
              [formGroup]="registerForm"
              (ngSubmit)="onSubmit()"
              type="submit"
            >
              <label for="username">User Name</label><br />
              <input
                class="border"
                id="username"
                formControlName="username"
                type="text"
              /><br /><br />
              <label for="">Email</label><br />
              <input
                class="border"
                type="email"
                formControlName="email"
              /><br /><br />
              <label for="">Password</label><br />
              <input
                class="border"
                id="password"
                formControlName="password"
                type="password"
              /><br />
              <label for="">Confirm password</label><br />
              <input
                class="border"
                type="password"
                formControlName="confirmPassword"
              /><br />
              <a routerLink="/">home</a>
              <a (click)="toLogin()">Login</a>
              <!-- <br /><br /><br /><br /> -->
            </form>
          </div>
          <div class="container-btn-author">
            <button type="submit" (click)="onSubmit()" class="btn">
              Sign In
            </button>
            <!-- <mat-radio-group>
              <mat-radio-button class="custom-radio" value="option1">Option 1</mat-radio-button>
              <mat-radio-button class="custom-radio" value="option2">Option 2</mat-radio-button>
            </mat-radio-group> -->

            <h6 style="color: rgba(206, 56, 56, 0.84)">Design by hongngoc</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- begin of login -->
  <div *ngIf="role == 'login'">
    <div class="wrapper">
      <div class="content">
        <div class="left">
          <img
            class="circle"
            src="../../../assets/img/book.png"
            width="200"
            height="200"
          />
          <h2 style="color: rgba(206, 56, 56, 0.84)">Thư viện Đại học</h2>
          <h2 style="color: rgba(206, 56, 56, 0.84)">
            Sư phạm Thành phố Hồ Chí Minh
          </h2>
          <p>Địa chỉ</p>
          <p>Cơ sở chính: 280 An Dương Vương phường 4 quận 5 tpHCM</p>
          <p>Cơ sở 2: 222 Lê Văn Sỹ phường 14 quận 3 tpHCM</p>
          <p>Cơ sở 3: 351 Lạc Long Quân quận 11 tpHCM</p>
        </div>

        <div class="right">
          <div class="form">
            <h2>Login</h2>
            <form
              [formGroup]="registerForm"
              (ngSubmit)="onSubmit()"
              type="submit"
            >
              <label for="username">User Name</label><br />
              <input
                class="border"
                id="username"
                formControlName="username"
                type="text"
              /><br /><br />

              <label for="">Password</label><br />
              <input
                class="border"
                id="password"
                formControlName="password"
                type="password"
              /><br />

              <a routerLink="/">home</a>
              <a (click)="toLogin()">Login</a>
              <!-- <br /><br /><br /><br /> -->
            </form>
          </div>
          <div class="container-btn-author">
            <button type="submit" (click)="onSubmit()" class="btn">
              Sign In
            </button>

            <h6 style="color: rgba(206, 56, 56, 0.84)">Design by hongngoc</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
