<body>
  <div *ngIf="role == 'register'">
    <div class="wrapper">
      <div class="content">
        <div class="left">
          <img
            class="circle"
            src="../../../assets/img/book.png"
            width="200"
            height="200"
          />
          <h2 style="color: rgba(206, 56, 56, 0.84)">Thư viện Đại học</h2>
          <h2 style="color: rgba(206, 56, 56, 0.84)">
            Sư phạm Thành phố Hồ Chí Minh
          </h2>
          <p>Địa chỉ</p>
          <p>Cơ sở chính: 280 An Dương Vương phường 4 quận 5 tpHCM</p>
          <p>Cơ sở 2: 222 Lê Văn Sỹ phường 14 quận 3 tpHCM</p>
          <p>Cơ sở 3: 351 Lạc Long Quân quận 11 tpHCM</p>
        </div>

        <div class="right">
          <div class="form">
            <h2>Đăng ký</h2>
            <form action="">
              <label for="">User Name</label><br />
              <input class="border" type="text" /><br /><br />
              <label for="">Email</label><br />
              <input class="border" type="text" /><br /><br />
              <label for="">Password</label><br />
              <input class="border" type="text" /><br />
              <label for="">Confirm password</label><br />
              <input class="border" type="text" /><br />
              <a routerLink="/">home</a>
              <a (click)="toLogin()">Login</a>
              <!-- <br /><br /><br /><br /> -->
            </form>
          </div>
          <div class="container-btn-author">
            <button type="submit" class="btn">Sign In</button>
            <h6 style="color: rgba(206, 56, 56, 0.84)">Design by hongngoc</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- begin of login -->
  <div *ngIf="role == 'login'">
    <div class="wrapper">
      <div class="content">
        <div class="left">
          <img
            class="circle"
            src="../../../assets/img/book.png"
            width="200"
            height="200"
          />
          <h2 style="color: rgba(206, 56, 56, 0.84)">Thư viện Đại học</h2>
          <h2 style="color: rgba(206, 56, 56, 0.84)">
            Sư phạm Thành phố Hồ Chí Minh
          </h2>
          <p>Địa chỉ</p>
          <p>Cơ sở chính: 280 An Dương Vương phường 4 quận 5 tpHCM</p>
          <p>Cơ sở 2: 222 Lê Văn Sỹ phường 14 quận 3 tpHCM</p>
          <p>Cơ sở 3: 351 Lạc Long Quân quận 11 tpHCM</p>
        </div>

        <div class="right">
          <div class="form">
            <h2>Đăng nhập</h2>
            <form action="">
              <label for="">User Name</label><br />
              <input class="border" type="text" /><br /><br />
              <label for="">Email</label><br />
              <input class="border" type="text" /><br /><br />
              <label for="">Password</label><br />
              <input class="border" type="text" /><br />
             
              <a routerLink="/">home</a>
              <a (click)="toRegister()">create new acount</a>
              <!-- <br /><br /><br /><br /> -->
            </form>
          </div>
          <div class="container-btn-author">
            <button type="submit" class="btn">Sign In</button>
            <h6 style="color: rgba(206, 56, 56, 0.84)">Design by hongngoc</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
