<div class="container-top">
  <p>Follow</p>
</div>
<div *ngIf="followBookList.length > 0" class="outsite-container">
  <div class="home-container">
    <div *ngFor="let item of followBookList" class="card">
      <div style="width: 100px; cursor: pointer">
        <img
          [src]="getSafeImageUrl(item.imageData)"
          alt="Avatar"
          [routerLink]="['/detail', item.id]"
        />
      </div>
      <div class="container">
        <div class="">
          <h4>
            <b>{{ item.tensach }}</b>
          </h4>
          <p>Được viết bởi {{ item.tensach }}</p>
        </div>
        <div class="">
          <p class="status" *ngIf="item.duocMuon == 1">Còn sách</p>
          <p class="status red" *ngIf="item.duocMuon == 0">Hết sách</p>
        </div>

        <!-- HTML !-->
        <div class="">  
          <button
            class="button-3 red"
            role="button"
            (click)="handleUnfollow(item.id)"
          >
            Bỏ theo dõi
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
