<div class="container-xl px-4 mt-4">
  <!-- Account page navigation-->

  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <div class="img-account-profile-2 mb-2">
            <img [src]="getSafeImageUrl(userInfo?.imageData)" alt="" />
          </div>
          <!-- Profile picture help block-->
          <div class="small font-italic text-muted mb-4">
            JPG or PNG no larger than 5 MB
          </div>
          <input type="file" (change)="onFileSelected($event)" />
          <!-- Profile picture upload button-->
          <button class="btn btn-primary" (click)="onSubmit()" type="button">
            Upload new image
          </button>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form [formGroup]="userForm">
            <!-- Form Group (username)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputUsername"
                >Username (how your name will appear to other users on the
                site)</label
              >
              <input
                class="form-control"
                id="inputUsername"
                type="text"
                placeholder="Enter your username"
                formControlName="username"
              />
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName"
                  >First name</label
                >
                <input
                  class="form-control"
                  id="inputFirstName"
                  type="text"
                  placeholder="Enter your first name"
                  formControlName="FirstName"
                />
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Last name</label>
                <input
                  class="form-control"
                  id="inputLastName"
                  type="text"
                  placeholder="Enter your last name"
                  formControlName="LastName"
                />
              </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
              <!-- Form Group (organization name)-->

              <!-- Form Group (location)-->
            </div>
            <!-- Form Group (email address)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress"
                >Email address</label
              >
              <input
                class="form-control"
                id="inputEmailAddress"
                type="email"
                placeholder="Enter your email address"
                formControlName="email"
              />
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputPhone">Phone number</label>
                <input
                  class="form-control"
                  id="inputPhone"
                  type="tel"
                  placeholder="Enter your phone number"
                  formControlName="phone_number"
                />
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputBirthday">Birthday</label>
                <input
                  class="form-control"
                  type="datetime"
                  name="birthday"
                  placeholder="Enter your birthday"
                  value="06/10/1988"
                />
              </div>
            </div>
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <section class="example-section">
                  <label
                    class="example-margin"
                    style="font-weight: 700; font-size: 16px"
                    >Role:</label
                  >
                  <mat-radio-group>
                    <mat-radio-button
                      class="example-margin"
                      value="after"
                      [checked]="userInfo?.quyen==0"
                      (click)="toAdmin()"
                      >Admin</mat-radio-button
                    >
                    <mat-radio-button
                      class="example-margin"
                      value="before"
                      [checked]="userInfo?.quyen==2"
                      (click)="toUser()"
                      >Người đọc</mat-radio-button
                    >
                  </mat-radio-group>
                </section>
              </div>
            </div>
            <!-- start of password -->

            <!-- Save changes button-->
            <button
              *ngIf="!isChangePassword"
              (click)="handleOpenPasswordChange()"
              class="button-1"
              type="button"
            >
              Reset password
            </button>
            <button
              class="btn btn-primary"
              type="button"
              (click)="handleSaveChange()"
            >
              Save changes
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
