<p class="title">Tất cả User</p>
<div class="container-search">
  <mat-form-field class="example-form-field" (keyup.enter)="onSubmit()">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="value" />

    <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-fie
  <button class="button-3" role="button" (click)="onSubmit()">Search</button>
</div>
<div class="container-main">
  <div class="inner-container-main">
    <table class="styled-table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã</th>
          <th>Ảnh</th>
          <th>FirtName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Số điện Thoại</th>
          <th>Lượt mượn</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listUser; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ convertToPaddedString(item.id) }}</td>
          <td>
            <img
              *ngIf="item.imageData"
              [src]="getSafeImageUrl(item.imageData)"
              alt="Không có"
            />
          </td>
          <td>{{ item.firstName || "Không có" }}</td>
          <td>{{ item.lastName || "Không có" }}</td>
          <td>{{ item.email || "Không có" }}</td>
          <td>{{ item.phone_number || "Không có" }}</td>
          <td>
            <button
              class="button-3"
              [routerLink]="['/admin/profile', item.id]"
              role="button"
            >
              Chi tiết
            </button>
            <!-- <button
              class="button-3 red"
              role="button"
              (click)="startDelete(item)"
            >
              Xóa
            </button> -->
            <!-- need to work on the delete user -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <button class="btn-create-ticket button-26">Tạo phiếu mượn</button> -->
</div>
<div class="container-pagination">
  <div class="container-main-pagination">
    <button class="pagination-btn" (click)="handleNextBefore('-')">
      before
    </button>
    <button class="pagination-btn">{{ pageIndex }}</button>
    <button class="pagination-btn" (click)="handleNextBefore('+')">next</button>
  </div>
</div>

<!-- handle popup comment delete -->

<div
  class="full-screen"
  style="
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
  "
  *ngIf="isConfirmWindowOpen"
></div>

<div
  class="container-main"
  style="
    background-color: white;
    min-width: 50vw;
    min-height: 50vh;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
  @fadeIn
  @fadeOut  
  *ngIf="isConfirmWindowOpen"
>
  <mat-icon
    style="
      position: absolute;
      cursor: pointer;
      right: 20px;
      top: 20px;
      font-size: 24px;
      font-weight: 900;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,
        rgb(51, 51, 51) 0px 0px 0px 3px;
      border-radius: 50%;
    "
    (click)="handleCloseAll()"
    >close</mat-icon
  >

  <p style="font-size: 25px; font-weight: 900">Xóa User</p>
  <p style="color: brown; font-weight: 500">
    Toàn bộ các thông tin liên quan như <br />
    nhận xét và các phiếu mượn sẽ bị xóa
  </p>
  <div
    class="container-book"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
    *ngIf="!spinDisk"
  >
    <img [src]="getSafeImageUrl(userToDelete.imageData)" style="width: 50%;border-radius: 50%;" alt="?" />
    <p class="title">{{ userToDelete.username }}</p>
    
  </div>

  <div
    class=""
    style="
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: space-around;
    "
    *ngIf="!spinDisk"
  >
    <button class="btn btn-primary" (click)="handleDelete()">Xóa</button>
    <button class="btn btn-danger" (click)="handleCloseAll()">Hủy</button>
  </div>
  <mat-spinner *ngIf="spinDisk && !deleteDone"></mat-spinner>
  <p *ngIf="deleteDone">Xóa Thành Công</p>
</div>
<!-- handle and popup comment delete -->
